* {
    margin: 0;
    padding:0;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

a:link
{
text-decoration:none;
}

.fonteterror{
	color: red;
    font: italic 60px "youmurdererbb_reg";
}

.titleterror{
	color: red;
    font: italic 120px "youmurdererbb_reg";
}

    /* font: italic bold 80px "Comic Sans MS", cursive, sans-serif; */

.esq{
	color: red;
	margin-left: 18%;
	margin-right: 9%;
	margin-top: 10%;
	text-align: justify;
  	text-justify: inter-word;
    font: italic bold 20px serif;
}

.dir{
	color: red;
	margin-right: 18%;
	margin-left: 9%;
	margin-top: 10%;
	text-align: justify;
  	text-justify: inter-word;
    font: italic bold 20px serif;
}

.centralizar{
	margin: 20px;
	text-align: center;
}

img{
	border-radius: 4%;
	margin-bottom: 40px;
}

 @font-face {
    font-family: youmurdererbb_reg;
    src: url(youmurdererbb_reg.otf);
 }

 h2{
 	text-shadow: 0 0 0.1em #FF5c5c;
 }

 .cursor{
	cursor: url(../../cursor/skullNormal.cur), default;	
}